/**
 * Admin CSS rules.
 */

/* ====== Dashboard (index.php) ====== */

#mb-dashboard-activity .inside {
	padding: 0;
	margin:  0;
}

	#mb-dashboard-activity .count-block {
		overflow:      hidden;
		padding:       12px 12px 4px;
		border-bottom: 1px solid #eee;
	}

		#mb-dashboard-activity .count-block .dashicons { color: #888; }

		#mb-dashboard-activity .count-block ul {
			list-style: none;
			display:    inline-block;
			margin:     0 0 0 8px;
		}

			#mb-dashboard-activity .count-block li {
				display:      inline-block;
				margin-right: 16px;
			}

	#mb-dashboard-activity .activity-block {
		padding: 12px 12px 0;
	}

		#mb-dashboard-activity .activity-block ul li {
			overflow:      hidden;
			margin-bottom: 8px;
		}

			#mb-dashboard-activity .activity-block ul span {
				display:      inline-block;
				min-width:    150px;
				margin-right: 8px;
				color:        #777;
			}

/* ====== Edit Single Post Screen (post.php, post-new.php) ====== */

/**
 * Custom submit meta box. The .inside section needs its margin/padding reduced to 0 so that the "publish"
 * section at the bottom stretches to the edges.
 */
#mb-submitdiv .inside {
	margin:  0;
	padding: 0;
}

#mb-submitdiv input[type="radio"],
#mb-forum-attributes input[type="radio"],
#mb-topic-attributes input[type="radio"] {
	margin:         2px 3px 5px 0;
	vertical-align: middle;
}

#mb-submitdiv input[name="post_status"] { margin-left: 2px; }

/* ====== Edit Posts List Screen (edit.php) ====== */

.mb-reply a.add-new-h2 { display: none; }

.edit-php .wp-list-table .column-forum,
.edit-php .wp-list-table .column-topic {
	width: 15%;
}

.edit-php .wp-list-table .column-datetime { 
	width: 14%;
}

.edit-php .wp-list-table .column-type,
.edit-php .wp-list-table .column-forums {
	width: 10%;
}

.edit-php .wp-list-table .column-subforums {
	width: 10%;
}

.edit-php .wp-list-table .column-status,
.edit-php .wp-list-table .column-topics,
.edit-php .wp-list-table .column-replies,
.edit-php .wp-list-table .column-voices {
	width: 8%;
}

/* Row actions. */

.row-actions .mb_toggle_open a.open,
.row-actions .mb_toggle_spam a.restore { color: #006505; }

.row-actions .mb_toggle_close a { color: #d98500; }

.row-actions .mb_toggle_spam a.spam        { color: #a00; }
.row-actions .mb_toggle_spam a.spam:hover { color: #f00; }

/* ====== Users Screen (users.php) ====== */

#mb_forum_role {
	display: inline-block;
	float:   none;
}

.users-php .wp-list-table .column-topics,
.users-php .wp-list-table .column-replies {
	width:      8%;
	text-align: center;
}
