/**
 * Front End CSS Rules. These are only used in the event that the theme does not add support for 
 * `message-board`.  Otherwise, we leave it up to the theme.
 */

/* === Forum Meta === */

.ltr .forum .mb-topic-count,
.ltr .forum .mb-reply-count,
.ltr .forum .toggle-open-link,
.ltr .forum .toggle-trash-link { margin-right: 8px; }

/* === Loops === */

.mb-loop-forum,
.mb-loop-topic { font-size: 17px; }

/* === Title column. === */

.mb-col-title { width: 65%; }

	.ltr .mb-col-title .new-forum-link,
	.ltr .mb-col-title .new-topic-link { margin-left: 8px; }

	.mb-col-title .forum-link,
	.mb-col-title .mb-topic-link { font-size: 19px; font-weight: bold; }

	.mb-col-title .mb-forum-content,
	.mb-col-title .mb-topic-meta { margin-top: 5px; }

		.mb-col-title .mb-forum-content p:last-of-type { margin-bottom: 0; }

	.mb-col-title .mb-subforum-list {
		list-style: none;
		margin:     5px 0 0 0;
		padding:    0;
	}

		.mb-col-title .mb-subforum-list li { display: inline-block; }

			.ltr .mb-col-title .mb-subforum-list li { margin-right: 8px; }

			.mb-col-title .mb-subforum-list .forum-link { font-size: 17px; font-weight: normal; }

/* === Count column. === */

.mb-col-count { width: 15%; }


/* ====== Forms ====== */

/* === Form: Forum === */

.mb-form-forum .mb-form-parent,
.mb-form-forum .mb-form-type,
.mb-form-forum .mb-form-status,
.mb-form-forum .mb-form-order {
	float:        left;
	width:        22%;
	margin-right: 4%;
}

.mb-form-forum .mb-form-order {
	float:        right;
	margin-right: 0;
}

.mb-form-forum .mb-form-content { clear: both; }

/* === Form: Topic === */

.mb-form-topic .mb-form-parent,
.mb-form-topic .mb-form-type,
.mb-form-topic .mb-form-status {
	float:        left;
	width:        30%;
	margin-right: 5%;
}

.mb-form-parent + .mb-form-type + .mb-form-status {
	float:        right;
	margin-right: 0;
}

.mb-form-topic .mb-form-content { clear: both; }













