/**
 * Front End CSS Rules. These are only used in the event that the theme does not add support for 
 * `message-board`.  Otherwise, we leave it up to the theme.
 */

/* === Single Forum Meta === */

.ltr .mb-page-header .mb-subforum-count,
.ltr .mb-page-header .mb-topic-count,
.ltr .mb-page-header .mb-reply-count,
.ltr .mb-page-header .toggle-open-link,
.ltr .mb-page-header .toggle-trash-link { margin-right: 8px; }

/* === Single Topic Meta === */

.ltr .mb-page-header .forum-link,
.ltr .mb-page-header .mb-topic-post-count,
.ltr .mb-page-header .mb-topic-voice-count,
.ltr .mb-page-header .subscribe-link,
.ltr .mb-page-header .bookmark-link { margin-right: 8px; }

/* === Loops === */

.mb-loop-forum,
.mb-loop-topic,
.mb-loop-reply,
.mb-loop-user,
.mb-loop-search { font-size: 17px; }

/* === Title column. === */

.mb-col-title { width: 65%; }

	.ltr .mb-col-title .new-forum-link,
	.ltr .mb-col-title .new-topic-link { margin-left: 8px; }

	tbody .mb-col-title .forum-link,
	.mb-col-title .mb-topic-link,
	.mb-col-title .mb-reply-link,
	.archive-user .mb-col-title .user-profile-link { font-size: 19px; font-weight: bold; }

	.mb-col-title .mb-forum-content,
	.mb-col-title .mb-topic-meta,
	.mb-col-title .mb-reply-meta,
	.mb-col-title .mb-reply-summary,
	.mb-col-title .mb-user-description { margin-top: 5px; }

		.mb-col-title .mb-forum-content p:last-of-type,
		.mb-col-title .mb-forum-summary p:last-of-type,
		.mb-col-title .mb-topic-summary p:last-of-type,
		.mb-col-title .mb-reply-summary p:last-of-type,
		.mb-col-content .mb-forum-content p:last-of-type { margin-bottom: 0; }

	.mb-col-title .mb-subforum-list {
		list-style: none;
		margin:     5px 0 0 0;
		padding:    0;
	}

		.mb-col-title .mb-subforum-list li { display: inline-block; }

			.ltr .mb-col-title .mb-subforum-list li { margin-right: 8px; }

			.mb-col-title .mb-subforum-list .forum-link { font-size: 17px; font-weight: normal; }

/* === Count column. === */

.mb-col-count { width: 15%; }


/* ====== Forms ====== */

.mb-form-forum input,
.mb-form-topic input,
.mb-form-reply input,
.mb-form-forum select,
.mb-form-topic select,
.mb-form-reply select,
.mb-form-forum textarea,
.mb-form-topic textarea,
.mb-form-reply textarea { max-width: 100%; }

.mb form .description { font-size: 17px; font-style: italic; font-weight: 400; }

/* === Form: Forum === */

@media only screen and ( min-width: 768px ) {

	.mb-form-forum .mb-form-parent,
	.mb-form-forum .mb-form-type,
	.mb-form-forum .mb-form-status,
	.mb-form-forum .mb-form-order {
		float:        left;
		width:        22%;
		margin-right: 4%;
	}

	.mb-form-forum .mb-form-order {
		float:        right;
		margin-right: 0;
	}

	.mb-form-forum .mb-form-content { clear: both; }
}

	textarea[name="mb_forum_content"] { min-height: 150px; }

/* === Form: Topic === */

@media only screen and ( min-width: 768px ) {

	.mb-form-topic .mb-form-parent,
	.mb-form-topic .mb-form-type,
	.mb-form-topic .mb-form-status {
		float:        left;
		width:        30%;
		margin-right: 5%;
	}

	.mb-form-topic .mb-form-parent + .mb-form-type + .mb-form-status {
		float:        right;
		margin-right: 0;
	}

	.mb-form-topic .mb-form-content { clear: both; }
}

/* ====== Topic Thread ====== */

.mb-thread { list-style: none; }

	.ltr .mb-thread,
	.ltr .mb-thread li { margin-left: 0; padding-left: 0; }

	.mb-thread .mb-topic-header,
	.mb-thread .mb-reply-header { margin-bottom: 1.5rem; }

		.ltr .mb-thread .mb-topic-permalink,
		.ltr .mb-thread .mb-reply-permalink { float: right; text-align: right; }

	.mb-thread .mb-author-box { width: 25%; }

		.ltr .mb-thread .mb-author-box { float: left; margin-right: 5%; }

		.mb-author-box .avatar { width: 80px; height: 80px; }

		.mb-author-box .mb-author-info { clear: both; }


/* ====== User Profile ====== */

.mb-user-page-links { list-style: none; }

	.ltr .mb-user-page-links { margin-left: 0; padding-left: 0; }

	.mb-user-page-links li { display: inline-block; }

		.ltr .mb-user-page-links li { margin-right: 8px; }

.mb-user-info { float: left; }








